html {
  box-sizing: border-box
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-size: 25px;
    background-color: #FFFFFF;
}

nav {
  display: flex;
  margin: 0;
}

nav img {
  height: 97.5px;
  margin: 0.5em 0.5em;
}

nav ol {
  list-style-type: none;
  margin: 0 auto;
  margin-right: 0;
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  right: 0;
  align-content: flex-end;
}

nav ol li {
  padding: 0 0.5em;
}

nav ol li a {
  text-decoration: none;
  color: #4C5726;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
}

nav ol li a:hover {
  text-decoration: underline;
}

nav img {
  border-style: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

h1 {
  color: #FFFFFF;
  font-size: 75px;
  text-align: center;
}

.hero-banner {
  height: 100%;
  height: 40vh;
  background-color: #1986;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 3rem;
}

.about a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #4C5726;
}

.about a:hover {
  background-color: #C27F2E;
}

.works-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
}

.works-grid a img {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1em;
  border-color: #C27F2E;
  margin-bottom: 2rem;
}

.works-grid img:hover {
  border-color: #4C5726;
}

img {
  border-style: solid;
  border-width: thick;
  border-color: #C27F2E;
}

.content img {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 85%;
  margin: 0 auto;
}

h2 {
  background-color: #4C5726;
  color: #FFFFFF;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: right;
}

.print {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
}

.print img {
  border-width: 1em;
  width: 100%;
  margin: 1em auto;
}

.digital {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
}

.digital img {
  border-width: 1em;
  width: 100%;
  margin: 1em auto;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
}

.logo img {
  border-width: 1em;
  width: 100%;
  margin: 1em auto;
}


footer {
  padding: 2.5rem;
  margin-top: 3rem;
  font-size: 25px;
  color: #FFFFFF;
  background-color: #4C5726;
  text-align: center;

}

.in-touch {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin: 25px auto;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 45%;

}

.socials img {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-style: none;
  max-width: 100%;
  object-fit: cover;
  border-style: solid;
  border-radius: 50%;
  border-color: #FFFFFF;
  border-width: medium;

}

.socials img:hover {
  /* border-style: solid;
  border-radius: 50%; */
  border-color: #C27F2E;
  /* border-width: medium; */
}

.top {
  margin: 0 auto;
}

.top a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 48em) {

}

@media only screen and (min-width: 80em) {

  .wrapper {
    max-width: 1134px;
  }
}
